

/* ------------------------------------------------- */
/* Big tablet to 1200px (widths smaller than the 1140px row)  */
/* ------------------------------------------------- */

@media screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    .row { padding: 0 2%; }
}

/* ------------------------------------------------- */
/* Small tablet to big tablet: from 768px to 1023px  */
/* ------------------------------------------------- */

@media screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }
    
    .main-nav li {
        margin-left: 20px;    
    }
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    
    .meal-photo img:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }   
    
    .steps-box { margin-top: 10px; }
    .steps-box:last-child { margin-top: 10px; }
    .works-step { margin-bottom: 40px; }
    .works-step:last-of-type { margin-bottom: 60px; }
    
    .app-screen { width: 50%; }
    
    .icon-small { 
        width: 17px; 
        margin-right: 2px;
    }
    
    .btn-app img {
        height: 45px;
    }
    
    .city-feature { font-size: 90%; }
    
    .plan-box { 
        width: 100%;
        margin-left: 0%;
    }
    
    .plan-price { font-size: 250%; }
    
    .contact-form {
        width: 90%;
    }
    
    .footer-nav li {
        margin-right: 10px;
    }
}


/* ------------------------------------------------- */
/* Small phones to small tablets: from 481px to 767px  */
/* ------------------------------------------------- */

@media screen and (max-width: 767px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }
    
    .meal-photo img:hover {
        -webkit-transform: scale(1.06);
        transform: scale(1.06);
    } 
    
    .row,
    .hero-text-box { padding: 0 4%; }

    .col { 
        width: 100%;
        margin: 0;
    }
    
    .plan-box {
        margin-top: 10px;
    }
    
    .main-nav { display: none; }
    .mobile-nav-icon { display: inline-block; }
    .main-nav { 
        float: left;
        margin-top: 35px;
        margin-left: 25px;
    }
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    
    .sticky .main-nav { margin-top: 10px; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0px; }
    .sticky .mobile-nav-icon { margin-top: 10px; }
    .sticky .mobile-nav-icon i { color: #555; }
    
    
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }
    
    h1 { font-size: 190%; }
    h2 { font-size: 145%; }
    
    .works-step { margin-bottom: 20px; }
    .works-step:last-of-type { margin-bottom: 20px; }
    
    .works-step div {
        height: 40px;
        width: 40px;
        border: 1px solid;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%;
    }
    
    .app-screen { width: 40%; }
    .steps-box:first-child { text-align: center; }
    
    .map-box {
        width: 100%;
        height: auto;
        position: relative;
    }

    .map {
        width: 100%;
        height: 300px;
        z-index: 0;
        position: relative;
    }


    .form-box {
        position: relative;
        width: 100%;
        z-index: 10;
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        
    }

    
}

/* ------------------------------------------------- */
/* Small phones: from 0 to 480px */
/* ------------------------------------------------- */

@media screen and (max-width: 480px) {
    
    section { padding: 25px 0; }
    
    .meal-photo img:hover {
        -webkit-transform: scale(1.11);
        transform: scale(1.11);
    } 
    
    .contact-form {
        width: 100%;
    }
    
    .plan-price span {
        font-size: 40%;
    }
    
    .plan-price {
        font-weight: 300;
    }
}